@keyframes button-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes mouse-animation {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 29%;
  }
  100% {
    top: 29%;
  }
}

@keyframes showItem {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
